.product {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    margin: 1rem;

    background: white;
    /* min-width: 10rem; */
    /* max-width: 15rem; */
    flex: 1;
}

.product > img {
    max-height: 7rem;
    object-fit: contain;
    margin: .5rem 0;
}

.product > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: .5rem;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}